certifi==2017.4.17
chardet==3.0.4
click==6.7
Faker==0.7.12
Flask==1.0
Flask-SQLAlchemy==2.2
icalendar==3.11.3
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
olefile==0.44
Pillow==8.3.2
PyJWT==1.5.0
PySocks==1.6.7
python-dateutil==2.6.0
pytz==2017.2
requests==2.17.3
schedule==0.4.3
six==1.10.0
SQLAlchemy==1.1.9
twilio==6.3.0
urllib3==1.24.2
Werkzeug==0.15.3
WTForms==2.1
