<!doctype html>
<html>
  <head>
    {% block head %}
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/send_sms.png') }}">

    <title>Never Forget a Birthday</title>
    {% endblock %}
  </head>
  <body>
    <div class="pure-g">
        <div class="pure-u-2-5">
			<h1><a href='/'>Never Forget a Birthday</a></h1>
        </div>
        <div class="pure-u-2-5">
            <p class='loginSection'>
				{% if session.get('logged_in') %}
					Welcome back {{ session['logged_in'] }}, <a href="{{ url_for('logout') }}">Logout</a>
				{% endif %}
			</p>
        </div>
        <div class="pure-u-1-5">
            <form id="search" class="pure-form" action="/search" method="get">
                <input type="text" name="name" value="{{ request.args.get('name', '') }}" placeholder="Search friend">
            </form>
        </div>
    </div>

    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
