{% extends "base.html" %}
{% block content %}

	<table class="pure-table">
		<tr>
		{% for t in tabs %}
			<td
                {% if active_tab == t %}
                    class='active'
                {% endif %}
			><a href='
                {% if loop.index0 == 0 %}
                    /
                {% else %}
                    {{ loop.index0 }}
                {% endif %}
            '>{{ t }}</a></td>
		{% endfor %}
		</tr>
	</table>

	{% if data %}
		<table class="pure-table">
		    <tr>
				<th>Name</th>
				<th>Birthday</th>
				<th>Phone</th>
				<th></th>
			</tr>
			{% for record in data %}
                {% if record.bday.date() == now %}
                    <tr class='currentDate'>
                {% else %}
                    <tr>
                {% endif %}
                    <td>
                        {% if record.bday.date() == now %}
                            <a href="/birthday/{{ record.id }}"><img src="{{ url_for('static', filename='images/send_sms.png') }}" alt="send sms"></a>&nbsp;
                        {% endif %}
                        {{ record.name }}
                    </td>
					<td>{{ record.bday.strftime("%b %d") }}</td>
                    {% if record.phone %}
                        <td>{{ record.phone }}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    <td>
                        <a href="/friends/{{ record.id }}"><img src="{{ url_for('static', filename='images/edit.png') }}" alt="edit"></a>
                    </td>

				</tr>
			{% endfor %}
		</table>
	{% endif %}

{% endblock %}
