{% extends "base.html" %}
{% block content %}

	<table class="pure-table">
		<tr>
		{% for t in tabs %}
			<td
                {% if active_tab == t %}
                    class='active'
                {% endif %}
			><a href='
                {% if loop.index0 == 0 %}
                    /
                {% else %}
                    {{ loop.index0 }}
                {% endif %}
            '>{{ t }}</a></td>
		{% endfor %}
		</tr>
	</table>

	{% if data %}
		<table class="pure-table">
			<tr>
				<th>Name</th>
				<th>Birthday</th>
				<th>Phone</th>
			</tr>
			{% for record in data %}
				<tr>
					<td>{{ record.name }}</td>
					<td>{{ record.bday.strftime("%b %d") }}</td>
                    {% if record.phone %}
                        <td>{{ record.phone }}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
				</tr>
			{% endfor %}
		</table>
	{% endif %}

{% endblock %}
